<footer class="footerWrap jsc-footer">
    <div class="footerInner">
        <div class="footerLogo">
            <a href="#">
                <img src="/images/common/logo_thinkrec.png" alt="THINKREC.">
            </a>
        </div>
        <nav class="footerNavWrap">
            <ul class="footerNavList">
                <li><a href="/">TOP</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="works.html">WORKS</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <p class="topToScroll"><a href="#" class="jscScrollBtn">top</a></p>
</footer>
<p class="copyright"><small>&copy; THINKREC.</small></p>