<header class="headerWrap">
    <div class="headerInner">
        <div class="headerLogoWrap"><a href="/"><img src="/images/common/top_logo.png" alt="/"></a></div>
        <nav class="nav">
            <ul class="navList">
                <li><a href="/">TOP</a></li>
                <li><a href="https://www.djduct.com/" target="_blank">ARTIST</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>