<div class="sideMenuWrap">
    <div class="topLogo">
        <a href="/">
            <img src="/images/common/logo_thinkrec.png" alt="THINKREC.">
        </a>
    </div>
    <div class="hamburgerMenu jcsMenuToggle">
        <span class="menuLine jcsMenuLine"></span>
        <span class="menuLine jcsMenuLine"></span>
    </div>
</div>
<nav class="gnav jscGnav">
    <div class="gnavWrap">
        <ul class="gnavMenu">
            <li><a href="">TOP</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">WORKS</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">ONLINE STORE</a></li>
        </ul>
    </div>
</nav>