.footerWrap {
  padding: 10px 50px;
}
.footerInner {
  display: flex;
  justify-content: flex-end;

  @include media(sp) {
    justify-content: center;
  }
}
.copyright {
  small {
    font-size: 10px;
    color: #eb503c;
  }
}