.headerWrap {
  padding: 0 50px 0 0;
  border-bottom: 1px solid #eb503c;

  @include media(sp) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
  }
}
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(sp) {
    justify-content: space-between;
  }
}
.headerLogoWrap {
  padding: 10px 30px 10px 30px;
  background: #eb503c;

  @include media(sp) {
    display: none;
  }

  & > a {
    display: block;

    & > img {
      width: 70px;
      height: auto;

      @include media(sp) {
        width: 60px;
      }
    }
  }
}
.headerLogoWrapSp {
  display: none;

  @include media(sp) {
    padding: 10px;
    background: #eb503c;
    display: block;
  }

  & > a {
    display: block;

    & > img {
      width: 70px;
      height: auto;

      @include media(sp) {
        width: 60px;
      }
    }
  }
}
.navList {
  display: flex;
  align-items: center;

  & > li {

    & > a {
      position: relative;
      display: block;
      text-decoration: none;
      color: #eb503c;
      padding-bottom: 5px;
      font-size: 100%;
      font-family: 'Inter', sans-serif;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 1px;
        background: #eb503c;
        transition: all .3s;
        transform: scale(0, 1);
        transform-origin: left top;
      }
      &:hover {
        color: #eb503c;

        &::after {
          transform: scale(1, 1);
        }
      }
    }
    & + li {
      margin-left: 50px;

      @include media(sp) {
        margin-left: 30px;
      }
    }
  }
}
//.navList {
//  display: flex;
//  align-items: center;
//
//  & > li {
//
//    & > a {
//      display: block;
//      text-decoration: none;
//      color: #333333;
//      font-size: 13px;
//      font-weight: bold;
//    }
//    & + li {
//      margin-left: 20px;
//    }
//  }
//}