.headerWrap {
  padding: 10px 20px;

  @include media(sp) {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 15px;
  }
}
.headerInner {
  display: flex;
  align-items: center;

  @include media(sp) {
    justify-content: space-between;
  }
}
.headerLogoWrap {
  margin-right: 60px;

  & > a {
    display: block;

    & > img {
      width: 70px;
      height: auto;

      @include media(sp) {
        width: 60px;
      }
    }
  }
}
.navList {
  display: flex;
  align-items: center;

  & > li {

    & > a {
      display: block;
      text-decoration: none;
      color: #333333;
      font-size: 13px;
    }
    & + li {
      margin-left: 20px;
    }
  }
}